body {
    font-family: "Lato", sans-serif;
  }

  hr.new1 {
    border-top: 1px black;
  }

  
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #e71515;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.publisher{
        width: 90%;
        padding: 8px;
        /* border: 5px solid gray; */
        margin-left: 5px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 15px;
        background: #73AD21;
    
}
